/*.expanded .container {*/
/*    display: block;*/
/*}*/

/*.closed .container {*/
/*    display: none;*/
/*}*/

.tree {
    float:left;
}

.navbar-arrow-opened {
    background: url("img/sprites/icons8-развернуть-16.png") no-repeat;
}

.navbar-arrow-closed {
    background: url("img/sprites/icons8-вперед-filled-16.png") no-repeat;
}

.navbar-dir-opened {
    background: url("img/sprites/icons8-открыть-папку-16.png") no-repeat;
}

.navbar-dir-closed {
    background: url("img/sprites/icons8-папка-16.png") no-repeat;
}

.content > span {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.content {
    color: 	#0645AD;
    user-select: none;
}

.content:hover {
    cursor: pointer;
}

.container {
    margin: 0;
}

li {
    list-style-type: none;
}

.selected {
    border: 1px solid #99d1ff;
    background-color: #cce8ff;

}

table {
    cursor: default;
    border-collapse: collapse;
}

tr {
    border: 1px solid transparent;
    border-bottom: none;
    height: 24px;
}

td {
    padding: 2px;
    user-select: none;
}

tbody > .table-item:hover {
    background-color: #e5f2fd;
}

/*  IMAGES  */

.toolbar-button {
    display: inline-block;
    border: 1px solid;
    padding: 3px;
}

.toolbar-button-icon {
    display: block;
    background: url("img/file_manager_icons.png") no-repeat;
    width: 50px;
    height: 50px;
}

.toolbar-button-icon-back {
    background-position: 0 0;
}

.toolbar-button-icon-forward {
    background-position: 0 -50px;
}

.toolbar-button-icon-parent {
    background-position: 0 -100px;
}

.toolbar-button-icon-mkdir {
    background-position: 0 -150px;
}

.toolbar-button-icon-mkfile {
    background-position: 0 -200px;
}

.toolbar-button-icon-copy {
    background-position: 0 -250px;
}

.toolbar-button-icon-cut {
    background-position: 0 -300px;
}

.toolbar-button-icon-paste {
    background-position: 0 -350px;
}

.toolbar-button-icon-rename {
    background-position: 0 -400px;
}

.toolbar-button-icon-delete {
    background-position: 0 -450px;
}

.toolbar-button-icon-download {
    background-position: 0 -500px;
}

.toolbar-button-icon-upload {
    background-position: 0 -550px;
}

.toolbar-button-icon-props {
    background-position: 0 -600px;
}